// ----------------------------------------------------------------------------
// Config
// ----------------------------------------------------------------------------

.text-success-g {
  color: var(--c-success)
}

.text-error-g {
  color: var(--c-error)
}

.text-warning-g {
  color: var(--c-warning)
}

.text-focus-g {
  color: var(--c-focus)
}
