// ----------------------------------------------------------------------------
// Config
// ----------------------------------------------------------------------------

body {

  strong > em {
    font-weight: bold;
  }

  // --- mediascreen 01 - 03 ---
  @include mediascreen($mediascreen: 'custom', $max: $ms-3-max) {
    *:not(span) {
      font-size: $font-size-5 * $font-mobile-factor;
      line-height: $line-height-5 * $font-mobile-factor;
    }
    h1, .h1-g {
      font-size: $font-size-1 * $font-mobile-factor;
      line-height: $line-height-1 * $font-mobile-factor;
    }
    h2, .h2-g {
      font-size: $font-size-2 * $font-mobile-factor;
      line-height: $line-height-2 * $font-mobile-factor;
    }
    h3, .h3-g {
      font-size: $font-size-3 * $font-mobile-factor;
      line-height: $line-height-3 * $font-mobile-factor;
    }
    h4, .h4-g, strong {
      font-size: $font-size-4 * $font-mobile-factor;
      line-height: $line-height-4 * $font-mobile-factor;
    }
    small, .small {
      font-size: $font-size-1 * $font-mobile-factor;
      line-height: $line-height-1 * $font-mobile-factor;
    }
    .icons-g {
      font-size: $font-size-button * $font-mobile-factor;
    }

  }

  // --- mediascreen 04 - 06 ---
  @include mediascreen($mediascreen: 'custom', $min: $ms-4-min) {
    *:not(span) {
      font-size: $font-size-5 * $font-desktop-factor;
      line-height: $line-height-5 * $font-desktop-factor;
    }
    h1, .h1-g {
      font-size: $font-size-1 * $font-desktop-factor;
      line-height: $line-height-1 * $font-desktop-factor;
    }
    h2, .h2-g {
      font-size: $font-size-2 * $font-desktop-factor;
      line-height: $line-height-2 * $font-desktop-factor;
    }
    h3, .h3-g {
      font-size: $font-size-3 * $font-desktop-factor;
      line-height: $line-height-3 * $font-desktop-factor;
    }
    h4, .h4-g, strong, em {
      font-size: $font-size-4 * $font-desktop-factor;
      line-height: $line-height-4 * $font-desktop-factor;
    }
    small, .small {
      font-size: $font-size-1 * $font-desktop-factor;
      line-height: $line-height-1 * $font-desktop-factor;
    }
    em {
      font-style: italic;
    }
    .icons-g {
      font-size: $font-size-button * $font-desktop-factor;
    }
  }

  // --- print 04 - 06 ---
  @media print {
    *:not(span) {
      font-size: $font-size-5 * $font-print-factor;
      line-height: $line-height-5 * $font-print-factor;
    }
    h1, .h1-g {
      font-size: $font-size-1 * $font-print-factor;
      line-height: $line-height-1 * $font-print-factor;
    }
    h2, .h2-g {
      font-size: $font-size-2 * $font-print-factor;
      line-height: $line-height-2 * $font-print-factor;
    }
    h3, .h3-g {
      font-size: $font-size-3 * $font-print-factor;
      line-height: $line-height-3 * $font-print-factor;
    }
    h4, .h4-g, strong, em {
      font-size: $font-size-4 * $font-print-factor;
      line-height: $line-height-4 * $font-print-factor;
    }
    small, .small {
      font-size: $font-size-1 * $font-print-factor;
      line-height: $line-height-1 * $font-print-factor;
    }
    .icons-g {
      font-size: $font-size-button * $font-print-factor;
    }
  }

}
