// ----------------------------------------------------------------------------
// Config
$time: 0.5s;
$inputMinSize: 4rem;
// ----------------------------------------------------------------------------

body {
  fieldset {
    display: flex;
    padding: $padding;
    margin: $margin * 2 0;
    background-color: var(--c-bright);
    border: $border solid var(--c-thirdly);

    legend {
      padding: $padding * 0.5 $padding;
      background-color: var(--c-secondary);
      border: 1px solid var(--c-thirdly);

      &.move-g {
        animation-name: label-move;
        animation-duration: $time;
      }
    }
  }

  input, select, button {
    display: flex;
    align-items: center;
    border-radius: $radius;
    padding: $padding * 0.5;
    background-color: var(--c-background);
    cursor: pointer;
    -webkit-appearance: none;

    &:focus {
      outline: none;
      border-color: var(--c-focus);
      box-shadow: 0 0 $button-shadow *2 0 var(--c-focus);
    }
  }

  input, select {
    border: $border solid var(--c-thirdly);
  }

  input[type=number] {
    //-moz-appearance: textfield;
    // appearance: textfield;
  }

  button {
    font-weight: $font-weight-bold;
    color: var(--text-secondary);
    background-color: var(--c-primary);
    border: $border solid transparent;
    box-shadow: 0 0 $button-shadow 0 var(--text-secondary);

    &:active {
      box-shadow: 0 0 0 0 !important;
    }

    &.text-icon-g {
      padding: 0;
      padding-right: $padding;
    }

    .icons-g {
      color: var(--text-secondary);
      padding: 0;
    }
  }

  button.icons-g {
    padding: 0;
  }

  button.success-g {
    color: var(--text-secondary);
    background-color: var(--c-success);
    box-shadow: 0 0 $button-shadow 0 var(--c-success);
  }

  button.danger-g {
    color: var(--text-secondary);
    background-color: var(--c-error);
    box-shadow: 0 0 $button-shadow 0 var(--c-error);
  }

  button.warning-g {
    color: var(--text-secondary);
    background-color: var(--c-warning);
    box-shadow: 0 0 $button-shadow 0 var(--c-warning);
  }

}
