// ----------------------------------------------------------------------------
// Config
// ----------------------------------------------------------------------------

.m-fixed-g {
  position: fixed;
}
.m-no-scroll-g {
  overflow: hidden;
  position: fixed;
}
.m-pointer-g{
  cursor: pointer;
}

