@media print {

  #layout {
    left: 0;
    width: 100%;
    margin-left: 0;
  }

  @page {
    size: auto;   /* auto is the initial value */
    margin: 0;  /* this affects the margin in the printer settings */
  }
  body > * {
    .printable {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      padding: $padding * 2;
      display: flex !important;
      z-index: 100;
      background-color: var(--print-c-background);

      * {
        color-adjust: exact !important;
        -webkit-print-color-adjust: exact !important;;
      }
    }
  }
}


