// ----------------------------------------------------------------------------
// Config
// ----------------------------------------------------------------------------
@import "@/scss/import.scss";

// ----------------------------------------------------------------------------
// Defaut
// ----------------------------------------------------------------------------

figure {
  display: flex;
  flex-flow: column;
  position: relative;
  &.border {
    border :$border solid  var(--c-thirdly);
  }

  figcaption{
    position: absolute;
    left:0;
    bottom: 0;
    display: flex;
    padding: $padding;
    min-width: 100%;
    background-color: var(--ct-thirdly);
    border-top :$border solid  var(--c-thirdly);
  }

}



