// ----------------------------------------------------------------------------
// Config
// ----------------------------------------------------------------------------
@import "@/scss/import.scss";

// ----------------------------------------------------------------------------
// Defaut
// ----------------------------------------------------------------------------

section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: $margin;
  > * {
    padding:$padding;
    background-color: var(--c-light);
  }
}

// --- breakpoint 01 - 03 ---
@include mediascreen($mediascreen: 'custom', $max: $ms-3-max) {

}

