// ----------------------------------------------------------------------------
// colors
// ----------------------------------------------------------------------------

.theme-customize {

  --print-text-primary: #7f4141;
  --print-text-secondary: #505b50;
  --print-c-background: #ffffff;

  --text-primary: #7f4141;
  --text-secondary: #505b50;

  --c-primary: #b0b688;
  --c-secondary: #7f4141;
  --c-thirdly: #848484;
  --c-background: #9aa17e;

}
