// ----------------------------------------------------------------------------
// colors
// ----------------------------------------------------------------------------

.theme-customize {

  --print-text-primary: #CC0E10;
  --print-text-secondary: #2F647D;
  --print-c-background: #ffffff;

  --text-primary: #aa2123;
  --text-secondary: #2F647D;

  --c-primary: #414c5a;
  --c-secondary: #414c5a;
  --c-thirdly: #652b2b;
  --c-background: #20262B;

  --ct-primary: rgba(221, 221, 221, 0.8);
  --ct-secondary: rgba(230, 230, 230, 0.8);
  --ct-thirdly: rgba(239, 239, 239, 0.8);
}
