// ----------------------------------------------------------------------------
// colors
// ----------------------------------------------------------------------------

.theme-customize {

  --print-text-primary: #CC0E10 !important;
  --print-text-secondary: #2F647D !important;
  --print-c-background: #ffffff !important;

  --text-primary: #aa2123 !important;
  --text-secondary: #2F647D !important;

  --c-primary: #414c5a !important;
  --c-secondary: #414c5a !important;
  --c-thirdly: #652b2b !important;
  --c-background: #20262B !important;

  --ct-primary: rgba(221, 221, 221, 0.8) !important;
  --ct-secondary: rgba(230, 230, 230, 0.8) !important;
  --ct-thirdly: rgba(239, 239, 239, 0.8) !important;
}
