// ----------------------------------------------------------------------------
// fonts
// ----------------------------------------------------------------------------

@font-face {
  font-family: "terminator";
  src: url("~@/assets/fonts/terminator/terminatorrealnfi.eot");
  src: url("~@/assets/fonts/terminator/terminatorrealnfi.eot?#iefix") format("embedded-opentype"),
  url("~@/assets/fonts/terminator/terminatorrealnfi.otf") format("opentype"),
  url("~@/assets/fonts/terminator/terminatorrealnfi.svg") format("svg"),
  url("~@/assets/fonts/terminator/terminatorrealnfi.ttf") format("truetype"),
  url("~@/assets/fonts/terminator/terminatorrealnfi.woff") format("woff"),
  url("~@/assets/fonts/terminator/terminatorrealnfi.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "bickham";
  src: url("~@/assets/fonts/bickham/bickham-script-oneallfontnet.eot");
  src: url("~@/assets/fonts/bickham/bickham-script-oneallfontnet.eot?#iefix") format("embedded-opentype"),
  url("~@/assets/fonts/bickham/bickham-script-oneallfontnet.otf") format("opentype"),
  url("~@/assets/fonts/bickham/bickham-script-oneallfontnet.svg") format("svg"),
  url("~@/assets/fonts/bickham/bickham-script-oneallfontnet.ttf") format("truetype"),
  url("~@/assets/fonts/bickham/bickham-script-oneallfontnet.woff") format("woff"),
  url("~@/assets/fonts/bickham/bickham-script-oneallfontnet.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.theme-customize {

  h1{
    font-family: 'terminator', cursive;
    font-size: 2.6rem  * $font-desktop-factor;
    line-height:  4.2rem  * $font-desktop-factor * 0.65;

    font-weight: 400;
    font-style: normal;
  }

  h2{
    font-family: 'terminator', cursive;
    font-size: 1.6rem  * $font-desktop-factor;
    line-height:  2.8rem  * $font-desktop-factor * 0.65;
    font-weight: 200;
    font-style: normal;
    padding-bottom: $padding * 0.5 !important;
  }


  @include mediascreen($mediascreen: 'custom', $max: $ms-3-max) {
    h1{
      font-size: 2.8rem  * $font-mobile-factor * 0.65;
      line-height:  3.8rem  * $font-mobile-factor * 0.65;
    }
    h2{
      font-size: 2rem  * $font-mobile-factor * 0.65;
      line-height:  3rem  * $font-mobile-factor * 0.65;
      padding-bottom: $padding * 0.125 !important;

    }
  }

}

.theme-berger {

  h1{
    font-family: 'bickham', cursive;
    padding-top: $padding * 4;
    font-size: 8rem  * $font-desktop-factor;
    font-weight: 400;
    font-style: normal;
    transform: translateY(-1.8rem);
  }

  h2{
    font-family: 'bickham', cursive;
    font-size: 5.8rem  * $font-desktop-factor;
    font-weight: 400;
    font-style: normal;
    padding-bottom: $padding * 0.5 !important;
  }


  @include mediascreen($mediascreen: 'custom', $max: $ms-3-max) {
    h1{
      font-size: 8rem  * $font-mobile-factor * 0.65;
    }
    h2{
      font-size: 5.8rem  * $font-mobile-factor * 0.65;
      padding-bottom: $padding * 0.125 !important;
    }
  }

}




