// ----------------------------------------------------------------------------
// Config
// ----------------------------------------------------------------------------
@import "@/scss/import.scss";

// ----------------------------------------------------------------------------
// Defaut
// ----------------------------------------------------------------------------

.form {
  display: flex;
  flex-flow: column;
  background-color: var(--c-light);
  padding: $padding;

  > * {
    margin-bottom: $margin;
  }

  header, footer {
    display: flex;
    align-items: center;
    padding: $padding;
    background-color: var(--c-bright);

    button {
      margin-left: $margin;
    }
  }

  header {
    justify-content: space-between;
  }

  footer {
    justify-content: flex-end;

  }

  .entry-header, .entry {
    display: grid;
    grid-template-columns: 5.4rem 2fr 4fr minmax(18rem, 1fr) 5.4rem;
    grid-gap: $margin;
  }

  .entry {
    > * {
      padding: $padding;
      background-color: var(--c-bright);
    }

  }

  .entry-header {
    background-color: var(--c-bright);
    border-bottom: 1px solid var(--c-thirdly);

    strong {
      padding: $padding;
    }

    strong:first-of-type {
      grid-column-start: 2;
    }
  }

}

// --- breakpoint 01 - 03 ---
@include mediascreen($mediascreen: 'custom', $max: $ms-3-max) {

}

