<div class="form">

    <header>
        <h2 v-text="options.label"/>
        <button @click="addEntry()" class="icons-g">add_circle</button>
    </header>

    <div class="entry-header" v-if="data.header.length > 0">
        <GlobalInput v-for="item in data.header[0]" :options="item"></GlobalInput>
    </div>


    <div class="offer-item-labels">
        <strong v-text="staticOfferItems.offer[0].label"></strong>
        <strong v-text="staticOfferItems.offer[1].label"></strong>
        <strong v-text="staticOfferItems.offer[2].label"></strong>

    </div>

    <template  v-if="data.items" v-for="(item ,index) in data.items">


        <div class="offer-items" v-if="item.offer">
            <div>
                <button class="icons-g" @click="removeEntry(index)">remove_circle</button>
            </div>
            <GlobalInput v-for="item in item.offer" :options="item"></GlobalInput>
            <div>
                <button class="icons-g" @click="addEntry()">add_circle</button>
            </div>
        </div>

    </template>



    <footer v-if="data.items.length > 0">
        <button class="text-icon-g" @click="load()">
            <span class="icons-g">get_app</span>
            {{ options.formActions.loadlabel }}
        </button>
        <button class="text-icon-g" @click="reset()">
            <span class="icons-g">delete</span>
            {{ options.formActions.resetlabel }}
        </button>
        <button class="text-icon-g" @click="save()">
            <span class="icons-g">save</span>
            {{ options.formActions.savelabel }}
        </button>
    </footer>


    <global-popup
            v-if="data.error"
            v-bind:display.sync="data.error"
            :options="{
                headline: 'Data cannot be loaded',
                button: 'ok',
                color: textColors.error
            }"/>
    <global-popup
            v-if="response.error"
            v-bind:display.sync="response.error"
            :options="{
                headline: 'Data cannot be saved',
                button: 'ok',
                color: textColors.error
            }"/>
</div>
