// ----------------------------------------------------------------------------
// Config
// ----------------------------------------------------------------------------
@import "~@/scss/import.scss";

// ----------------------------------------------------------------------------
// Defaut
// ----------------------------------------------------------------------------

section {
  display: flex;
  flex-flow: column;
  background-color: var(--c-background);
  header{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding:$padding;
    margin:0;
    .logo {
      display: flex;
      width:50%;
    }
    h1 {
      margin: $margin 0;
    }
  }
  .content {
    display: grid;
    padding:$padding;
    grid-template-columns: 2fr 3fr 1fr;
    grid-gap: $margin;
    border-top: $border solid var(--c-thirdly);
    span:last-of-type {
      display: flex;
      justify-self: flex-end;
      font-weight: $font-weight-bold;
    }

  }

  h1 {
    color: var(--text-primary);
  }

  strong {
    color: var(--text-primary);
  }

  span {
    color: var(--text-secondary);
  }

}

// --- breakpoint 01 - 03 ---

@include mediascreen($mediascreen: 'custom', $max: $ms-3-max) {
  section {
    .content {
      display: grid;
      padding: $padding;
      grid-template-columns: 3fr 1fr;
      strong {
        order: 1;
      }
      span:first-of-type {
        order: 3;
        grid-column: 1 / span 2;
      }
      span:last-of-type {
        order: 2;
      }
    }
  }

}

