// ----------------------------------------------------------------------------
// Config
// ----------------------------------------------------------------------------
@import "@/scss/import.scss";

// ----------------------------------------------------------------------------
// Defaut
// ----------------------------------------------------------------------------

div {
  display: flex;
  flex-flow: column;
  header{
    display: flex;
    padding:$padding;
    background-color: var(--c-bright);
    margin:0;

  }
}

// --- breakpoint 01 - 03 ---
@include mediascreen($mediascreen: 'custom', $max: $ms-3-max) {

}

