<section class="printable shadow-g theme-customize">
    <header>
        <GlobalImage class="logo" :options="testImage"/>
        <h1 v-if="data.header[0]" v-text="data.header[0][0].value"/>
    </header>
    <div class="content" v-for="(entry ,index) in data.entries">
        <template v-for="(item, index) in entry">
            <strong v-if="index === 0" v-text="item.value"/>
            <span v-if="index === 1" v-text="item.value"/>
            <span v-if="index === 2" v-text="item.value"/>
        </template>
    </div>
    <footer></footer>
</section>
