// ----------------------------------------------------------------------------
// Config
// ----------------------------------------------------------------------------
@import "~@/scss/import.scss";

// ----------------------------------------------------------------------------
// Defaut
// ----------------------------------------------------------------------------

.site {
  display: flex;
  flex-flow: column;
  padding: $padding * 2 $padding $padding;
  margin-bottom:$margin;
  background-color: var(--c-background);
  .headline {
    margin-bottom: $margin;
  }

  // --- breakpoint 01 - 03 ---

  @include mediascreen($mediascreen: 'custom', $max: $ms-3-max) {

  }
}

