// ----------------------------------------------------------------------------
// Config
// ----------------------------------------------------------------------------
@import "~@/scss/import.scss";

// ----------------------------------------------------------------------------
// Defaut
// ----------------------------------------------------------------------------
.data-view-wrapper {
  display: flex;
  flex-flow: column;
  padding: $padding;
  margin: $margin;
  border: $border solid var(--c-thirdly);
   div {
    display: flex;
    flex-flow: column;
  }
}

// --- breakpoint 01 - 03 ---
@include mediascreen($mediascreen: 'custom', $max: $ms-3-max) {
}
