// ----------------------------------------------------------------------------
// Config
// ----------------------------------------------------------------------------

// mixin only can use in container with position: absolute / fixed

@mixin m-zoom {
  left:0;
  width:100%;
  margin-left:0;
}

@mixin m-edit {
  left:0;
  width:40%;
  margin-left:0;
}

@mixin layout(
  $mediascreen:null) {

  // -- mediascreen1 - mediascreen2 ---
  @if $mediascreen == 'ms1' or $mediascreen == 'ms2' {
    width: 100%;
    min-width: $ms-1-min;
  }

  // -- mediascreen3 ---
  @if $mediascreen == 'ms3' {
    width: 94%;
    left: 50%;
    margin-left: -47%;
  }

  // -- mediascreen4 ---
  @if $mediascreen == 'ms4' {
    width: $ms-4-min;
    left: 50%;
    margin-left: -$ms-4-min * 0.5;
    &.m-zoom{
      @include m-zoom()
    }
    &.m-edit{
      @include m-edit();
    }
  }

  // -- mediascreen5 ---
  @if $mediascreen == 'ms5' {
    width: $ms-5-min;
    left: 50%;
    margin-left: -$ms-5-min * 0.5;
    &.m-zoom{
      @include m-zoom()
    }
    &.m-edit{
      @include m-edit();
    }
  }

  // -- mediascreen6 ---
  @if $mediascreen == 'ms6' {
    width: $ms-6-min;
    left: 50%;
    margin-left: -$ms-6-min * 0.5;
    &.m-zoom{
      @include m-zoom();
    }
    &.m-edit{
      @include m-edit();
    }
  }

}



