// ----------------------------------------------------------------------------
// Config
// ----------------------------------------------------------------------------
@import "~@/scss/import.scss";

@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';

.wrapper {
  display: flex;
  flex-flow: column;
  padding: $padding * 0.5;
  background-color: var(--text-secondary);
  label{
    display: flex;
    margin-bottom:$margin;
    &.required::after {
      content: "*";
    }
  }

}

.editor {
  height: 37rem;
  padding:0;
  &:focus{

  }
}

