<div class="view-wrapper">
    <div class="header" >
        <h2 v-text="options.label"/>
    </div>
    <GlobaTab :options="options.tabs" :activeTab="1">
        <div class="column-g">
            <GlobaDataView :options="$store.state.data.main.offerList.data"></GlobaDataView>
            <GlobaDataView :options="$store.state.data.main.offerList.response"></GlobaDataView>
        </div>
        <MainOfferListSite
                class="shadow-g"
                :options="$store.state.data.main.offerList.site"
                :data="$store.state.data.main.offerList.data"
                >
        </MainOfferListSite>
        <div>not set</div>
    </GlobaTab>
</div>