// ----------------------------------------------------------------------------
// Config
// ----------------------------------------------------------------------------
@import "@/scss/import.scss";

// ----------------------------------------------------------------------------
// Defaut
// ----------------------------------------------------------------------------

.view-wrapper {
  display: flex;
  flex-flow: column;
  background-color: var(--c-thirdly);
  padding:$padding;
  .header{
    display: flex;
    padding:$padding;
    background-color: var(--c-secondary);
  }
}

// --- breakpoint 01 - 03 ---
@include mediascreen($mediascreen: 'custom', $max: $ms-3-max) {

}

