<div class="form" v-if="data">
    <header>
        <h2 v-text="options.label"/>
    </header>

    <div class="entry">
        <GlobalInput :options="data.componentData.headline"/>
        <GlobalEditor
                :key="key"
                v-model="data.componentData.content.value"
                :options="data.componentData.content"
              />
    </div>

    <footer>
        <div class="buttons">
            <button class="text-icon-g" @click="load()">
                <span class="icons-g">get_app</span>
                {{ options.formActions.loadlabel }}
            </button>
            <button class="text-icon-g" @click="reset()">
                <span class="icons-g">delete</span>
                {{ options.formActions.resetlabel }}
            </button>
            <button class="text-icon-g" @click="save()">
                <span class="icons-g">save</span>
                {{ options.formActions.savelabel }}
            </button>
        </div>
    </footer>

    <global-popup
            v-if="$store.state.data.main.text.error"
            v-bind:display.sync="$store.state.data.main.text.error"
            :options="{
                headline: 'Data cannot be loaded',
                button: 'ok',
                color: textColors.error
            }"/>
</div>
