// ----------------------------------------------------------------------------
// Config

body {
  --c-success: #28a745;
  --c-error: #b60202;
  --c-warning: #ffc107;
  --c-focus: #049ae2;

  --print-text-primary: #333333;
  --print-text-secondary: #848484;
  --print-c-background: #ffffff;

}

.theme-light {

  --text-primary: #333333;
  --text-secondary: #848484;

  --c-primary: #dddddd;
  --c-secondary: #fafafa;
  --c-thirdly: #ededed;
  --c-background: #ffffff;

  --ct-primary: rgba(221, 221, 221, 0.8);
  --ct-secondary: rgba(230, 230, 230, 0.8);
  --ct-thirdly: rgba(239, 239, 239, 0.8);
}

.theme-dark {
  --text-primary: #efefef;
  --text-secondary: #cccccc;

  --c-primary: #333333;
  --c-secondary: #4b4b4b;
  --c-thirdly: #666666;
  --c-background: #333333;

  --ct-primary: rgba(51, 51, 51, 0.8);
  --ct-secondary: rgba(75, 75, 75, 0.8);
  --ct-thirdly: rgba(102, 102, 102, 0.8);
}
// ----------------------------------------------------------------------------
