// ----------------------------------------------------------------------------
// Fonts

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(~@/assets/fonts/icons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('~@/assets/fonts/icons/Material Icons'),
  local('~@/assets/fonts/icons/MaterialIcons-Regular'),
  url(~@/assets/fonts/icons/MaterialIcons-Regular.woff2) format('woff2'),
  url(~@/assets/fonts/icons/MaterialIcons-Regular.woff) format('woff'),
  url(~@/assets/fonts/icons/MaterialIcons-Regular.ttf) format('truetype');
}

// ----------------------------------------------------------------------------
// Config

$global-font-family: verdana, arial, helvetica, serif;
$global-font-weight: normal;
$global-font-style: normal;
$global-text-decoration: none;
$global-font-size: 62.5%;
$global-letter-spacing: 0.08rem;

$font-size-button: 3rem;

$font-size-1: 2.2rem;
$font-size-2: 1.8rem;
$font-size-3: 1.8rem;
$font-size-4: 1.6rem;
$font-size-5: 1.4rem;
$font-size-6: 1.0rem;

$line-height-1: 3.0rem;
$line-height-2: 2.4rem;
$line-height-3: 2.2rem;
$line-height-4: 2.0rem;
$line-height-5: 1.8rem;
$line-height-6: 1.2rem;

$font-mobile-factor: 1.1;
$font-desktop-factor: 1.0;
$font-print-factor: 1.6;

$font-weight-bold: 600;

// ----------------------------------------------------------------------------
