// ----------------------------------------------------------------------------
// Config

$margin: 1rem;
$padding: 1.1rem;

$border: 0.1rem;
$radius: 0.4rem;
$button-shadow: 0.2rem;

// ----------------------------------------------------------------------------
