// ----------------------------------------------------------------------------
// Config

// --- mediascreen 01 ---
$ms-1-min: 340px;
$ms-1-max: 374px;

// --- mediascreen 02 ---
$ms-2-min: 375px;
$ms-2-max: 480px;

// --- mediascreen 03 ---
$ms-3-min: 481px;
$ms-3-max: 768px;

// --- mediascreen 04 ---
$ms-4-min: 769px;
$ms-4-max: 1024px;

// --- mediascreen 05 ---
$ms-5-min: 1025px;
$ms-5-max: 1280px;

// --- mediascreen 06 ---
$ms-6-min: 1281px;

// ----------------------------------------------------------------------------
