// ----------------------------------------------------------------------------
// Config
// ----------------------------------------------------------------------------
@import "@/scss/import.scss";

$maxCountWidth: 3rem;

// ----------------------------------------------------------------------------
// Defaut
// ----------------------------------------------------------------------------
label {
  display: grid;
  position: relative;
  grid-template-columns:1fr 3fr;
  grid-gap: $margin * 0.5;
  align-items: baseline;
  box-sizing: border-box;

  &.placeholder {
    grid-template-columns: 1fr;
  }

  &.placeholder span.error {
    color: var(--c-error);
    grid-column-start: initial;
  }

  span {
    display: flex;
    align-items: center;

    &.placeholder {
      display: none;
    }

    &.max-count {
      position: absolute;
      top: 50%;
      right: $border;
      max-width: $maxCountWidth;
      transform: translateY(-50%);
      padding: $padding * 0.125;
      background-color: var(--c-thirdly);
      border-top-left-radius: $radius;
      border-bottom-left-radius: $radius;
    }

    &.required::after {
      content: "*";
    }

    &.error {
      color: var(--c-error);
      grid-column-start: 2;
    }
  }

  .input-wrapper {
    display: flex;
    position: relative;

    input {
      display: flex;
      width: 100%;

      &.error {
        border-color: var(--c-error);
      }

      &.max-count {
        padding-right: $maxCountWidth;
      }

    }
  }


  // --- breakpoint 01 - 03 ---
  @include mediascreen($mediascreen: 'custom', $max: $ms-3-max) {
    grid-template-columns: 1fr;
    span:last-of-type {
      grid-column: initial;
    }
  }
}
