// ----------------------------------------------------------------------------
// Config
@import "import.scss";

// ----------------------------------------------------------------------------

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: $global-font-size;
  background-color: var(--c-background);
}

body {
  overflow-y: scroll;
  scroll-behavior: smooth;

  *, ::before, ::after {
    font-style: $global-font-style;
    font-family: $global-font-family;
    font-weight: $global-font-weight;
    text-decoration: $global-text-decoration;
    letter-spacing: $global-letter-spacing;
    color: var(--text-primary);
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }

  /*
    div, article, section, figure {
      display: flex;
      box-sizing: border-box;
    }
  */
}

// ----------------------------------------------------------------------------
// Imports internal
@import "~@/scss/config/colors";
@import "~@/scss/declaration/fonts";
@import "~@/scss/declaration/animation";
@import "~@/scss/declaration/colors";
@import "~@/scss/declaration/classes";
@import "~@/scss/declaration/tags";
@import "~@/scss/declaration/forms";
@import "~@/scss/declaration/modifire";
@import "~@/scss/declaration/icons";
@import "~@/scss/declaration/print";
// ----------------------------------------------------------------------------

@import "~@/scss/customize.scss";


