// ----------------------------------------------------------------------------
// Config
// ----------------------------------------------------------------------------
@import "~@/scss/import.scss";

$maxCountWidth: 3rem;

// ----------------------------------------------------------------------------
// Defaut
// ----------------------------------------------------------------------------
label {
  display: grid;
  position: relative;
  grid-template-columns:1fr;
  grid-gap: $margin * 0.5;
  align-items: baseline;
  box-sizing: border-box;

  span {
    display: flex;
    align-items: center;

    &.required::after {
      content: "*";
    }

    &.error {
      color: var(--c-error);
    }
  }

  .input-wrapper {
    display: flex;
    position: relative;

    textarea {
      display: flex;
      width: 100%;
      min-height: 37rem;

      &.error {
        border-color: var(--c-error);
      }
    }
  }

}
